body {
  font-family: 'Mulish', sans-serif;
}
hr{
  border-style: dotted none none;
  border-width: 1rem;
  height: 1rem;
  width: 5%;
  border-color: #838383;
  color: #fff8cd;
}

/* Navbar Section */

.nav-item {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 0.5rem 0 0.5rem;

}

/* Landing Page Section */
.top-text {
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.Landing-Info {
  font-family: 'Sansita Swashed', cursive;
  font-weight: 600;
  font-size: 5rem;
  border-radius: 1.5625rem;
}

.landing-h2 {
  font-weight: 500;
  font-size: 3rem;
  padding: 2rem 0 10rem 0;
}

.main-container {
  background-color: #383e56;
  text-align: center;
  overflow: hidden;

}

.Top-content {
  background-color: #0f1123;
  border-radius: 1.5625rem;
}

.details {
  background-color: #fcd1d1;
  width: 80%;
  border-radius: 1.5625rem;
}

.giphy-image {
  margin: 2rem 0 0 0;
  height: 15rem;
  width: 15rem;
}

.pro-pic {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;

}
/* Profile Section */
.profile-section{
  text-align: center;
  color: white;
}
.Main-Image{
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
}
.Profile-h2{
  font-size: 3rem;
  font-weight: 700;
}
/* */

/* Skills Section */
.Skill-Section{
  background-color: #fcd1d1;
  width:80%;
  border-radius: 1.5625rem;
}
.skill-h2{
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding-top: 2rem;
  margin:2rem 0 2rem 0;
}
.skill-bar{
  padding: 1rem 2rem 1rem 2rem;
}
.progress{
  background-color: #000000;
  height: .25rem;
}
.progress-bar{
background-color: #821752;
}
.fas{
  color: #ff5722;
}
.fab{
    color: #ff5722;
}
.quality-h2{
  text-align: center;
  background-color: #383e56;
  border-radius: 1.5625rem;
  margin-top: 1rem;
  color: white;
}
.quality-h3{
  font-size: 1.5rem;
  padding:1rem 1rem 1rem 1rem;
  background-color: #383e56;
  color: white;

    border-radius: 1.5625rem;
}
/* Call To Action */
.cta-section{
  padding: 3rem;
  text-align: center;
}
.cta-h2{
  padding-bottom: 2rem;
  color: white;
}
/* Past Works Section */
.Past-Section{
    margin: auto;
  background-color: #fcd1d1;
  width:80%;
  border-radius: 1.5625rem;


}
.past-h2{
  padding:1rem 0 1rem 0;
  font-weight: 700;
  font-size: 3rem;
}
/* footer section */
#footer{
  background-color: #16213e;
  text-align: center;
  overflow: hidden;
}
.footer-icon{
  padding: 1rem 1rem;
}
.footer-p{
  color: #ea5455;
  font-size: 1rem;
}
.box{
  background-color: #c19277;
  border-radius: 5%;
  border-style: solid;
  border-color: #fcd1d1;
}
/* Button Decoration */
.butn {
  margin-bottom:  1rem;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #383e56;
  font-size: 20px;
  background: #fcd1d1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: none;
}

.butn:hover {
  background: #c19277;
  text-decoration: none;
}
a{
  color: #383e56;
  text-decoration: none;
}
a:hover{
    color: #383e56;
    text-decoration: none;
}

/* Media Query */


@media (max-width:1080px) {
  .cta-section{
    padding: 3rem 20rem;
    text-align: center;
  }
  .skill-h2{
    font-size: 2.5rem;
  }
  .Landing-Info {
    font-weight: 600;
    font-size: 2rem;
    border-radius: 1.5625rem;
  }
  .landing-h2 {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem 0 10rem 0;
  }
  .giphy-image {
    margin: 2rem 0 0 0;
    height: 10rem;
    width: 10rem;
  }
.cta-section{
    padding: 3rem;
  text-align: center;

}
}
