body {
    font-family: Lato, sans-serif;
    background-color: #111;
    color: #fff;
    position: relative;
    overflow: hidden;
}
a {
    color: #f70b2b;
    text-decoration: none;
}
a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 20px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    margin-left: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #6d6d6d;
    position: relative;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}
#preloader:after,
#preloader:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#preloader:after {
    left: auto;
    right: 0;
}
#preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.loader_line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #000;
    -webkit-animation: lineheight 1s ease-in-out 0s forwards;
    -o-animation: lineheight 1s ease-in-out 0s forwards;
    animation: lineheight 1s ease-in-out 0s forwards;
}
.loader_line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #bbb;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1.2s linear 0s infinite;
    -o-animation: lineround 1.2s linear 0s infinite;
    animation: lineround 1.2s linear 0s infinite;
    animation-delay: 2s;
}
@keyframes lineheight {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@keyframes lineround {
    0% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}
.preloaded .loader_line:after {
    opacity: 0;
}
.preloaded .loader_line {
    opacity: 0;
    height: 100% !important;
}
.preloaded:after,
.preloaded:before {
    -webkit-animation: preloadedzero 0.3s ease-in-out 0.5s forwards;
    -o-animation: preloadedzero 0.3s ease-in-out 0.5s forwards;
    animation: preloadedzero 0.3s ease-in-out 0.5s forwards;
}
@keyframes preloadedzero {
    0% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}
#header {
    z-index: 997;
}
.header-top .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo svg {
    width: 180px;
    height: 60px;
    fill: #f70b2b;
}
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #212121;
    margin-top: 15px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}
#header.header-top .social-links,
#header.header-top h2 {
    display: none;
}
#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}
#header.header-top .container {
    display: flex;
    align-items: center;
    justify-content: end;
}
#header.header-top .navbar {
    margin: 0;
    margin: auto;
}
@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }
    #header.header-top h1 {
        font-size: 26px;
    }
}
.navbar {
    padding: 0;
    margin-top: 35px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    padding-right: 10px;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar li + li {
    margin-left: 30px;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #f70b2b;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}
.navbar .active:before,
.navbar a:hover:before,
.navbar li:hover > a:before {
    visibility: visible;
    width: 25px;
}
.navbar .active,
.navbar .active:focus,
.navbar a:hover,
.navbar li:hover > a {
    color: #f70b2b;
}
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    transition: ease-in-out 0.4s;
}
@media (max-width: 991px) {
    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: -15px;
    right: 0;
    left: 0;
    transition: 0.3s;
    z-index: 999;
    height: 100vh;
    margin-top: 0;
    margin: 0 auto;
}
.navbar-mobile .mobile-nav-toggle {
    position: fixed;
    top: 55px;
    right: 30px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 10px;
    background: #212121;
    left: 0;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.6s;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.navbar-mobile li {
    padding: 12px 20px;
}
.navbar-mobile li + li {
    margin: 0;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}
@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
}
.map iframe {
    width: 100%;
    height: 450px;
}
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 110px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
    display: none;
}
section.section-show {
    bottom: auto;
    opacity: 1;
    height: calc(100vh - 125px);
    overflow: hidden;
    overflow-y: scroll;
    display: inline-block;
}
section .container {
    background: #212121;
    padding: 30px;
    height: -webkit-fill-available;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
}
@media (max-width: 768px) {
    section {
        top: 120px;
    }
    section.section-show {
        top: 80px;
    }
}
.section-title h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    line-height: 18px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: Lato, sans-serif;
    padding-bottom: 15px;
    position: relative;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    background: #f70b2b;
    bottom: 0;
    top: auto;
    position: absolute;
    left: 0;
}
.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #fff;
}
.clickbtn {
    padding: 10px 10px;
    background-color: #f70b2b;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 2px solid #f70b2b;
    font-size: 15px;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.clickbtn:hover {
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    transform: rotate(10deg);
    background-color: transparent;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.glitch-img-warp {
    position: relative;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.glitch-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/glitch.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    z-index: 1 !important;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    border-radius: 50%;
}
.water-js {
    background-size: cover;
    background-position: center;
    background-image: url(../img/water.jpg);
}
.main-img-mobile.water-js img {
    user-select: none;
}
.particles-js {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.particles-js img {
    width: 100%;
}
.home-me img {
    width: 100%;
}
.home-details-container {
    margin: 0 auto;
}
.home-details {
    padding: 0;
}
.home-details h1 {
    font-size: 38px;
    line-height: 48px;
    margin: 29px 0 13px;
    font-weight: 700;
}
.home-details p {
    margin: 10px 0 23px;
    font-size: 15px;
    line-height: 30px;
}
.home-details h1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
}
.home-details h1 span {
    color: #f70b2b;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 48px;
    margin-top: 5px;
    align-items: center;
    font-size: 30px;
}
.home-details p {
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 30px;
    width: 70%;
    color: #888;
}
span.button-icon.fa.fa-arrow-right {
    line-height: 50px;
}
.main-img-mobile {
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}
.about-me img {
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    border-radius: 10px;
}
.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #f70b2b;
}
.about-me .content h3 span {
    color: #fff;
}
.about-me .content ul {
    list-style: none;
    padding: 0;
}
.about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about-me .content ul strong {
    margin-right: 10px;
    color: #fff;
}
.about-me .content ul span {
    color: #888;
}
.about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #f70b2b;
    line-height: 0;
}
.about-me .content p:last-child {
    margin-bottom: 0;
}
.counts {
    padding: 70px 0 60px;
}
.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.counts .count-box i {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #fff;
    padding: 11px 12px;
    color: #f70b2b;
    border-radius: 50%;
    line-height: 1;
}
.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #fff;
}
.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 14px;
}
.skills {
    margin: 0 0 25px 0;
}
.skills .progress {
    height: 60px;
    display: block;
    background: 0 0;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: 800;
    font-family: Lato, sans-serif;
    color: #fff;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    border-radius: 100px;
    background-color: #f70b2b;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.interests {
    margin: 0 0 25px 0;
}
.interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}
.interests .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: #fff;
}
.interests .icon-box:hover {
    background: rgba(255, 255, 255, 0.12);
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}
.testimonials .testimonial-item {
    box-sizing: content-box;
}
.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid rgba(255, 255, 255, 0.12);
}
.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px 45px;
    color: #fff;
}
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.25);
    font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f70b2b;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #f70b2b;
    margin-bottom: 10px;
}
.resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume .resume-item ul {
    padding-left: 20px;
}
.resume .resume-item ul li {
    padding-bottom: 10px;
}
.resume .resume-item:last-child {
    padding-bottom: 0;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #f70b2b;
    border: 2px solid #f70b2b;
}
.services {
    margin: 0 0 25px 0;
}
.services .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    border-radius: 10px;
}
.services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f70b2b;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}
.services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
}
.services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}
.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}
.services .icon-box h4 a {
    color: #fff;
}
.services .icon-box p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
}
.services .icon-box:hover {
    background: #f70b2b;
    border-color: #f70b2b;
}
.services .icon-box:hover .icon {
    background: #fff;
}
.services .icon-box:hover .icon i {
    color: #f70b2b;
}
.services .icon-box:hover .icon::before {
    background: #333;
}
.services .icon-box:hover h4 a,
.services .icon-box:hover p {
    color: #fff;
}
.portfolio-item {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.portfolio .portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}
.portfolio .portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    border: 2px solid #f70b2b;
    background: #f70b2b;
}
.portfolio .portfolio-flters li.filter-active,
.portfolio .portfolio-flters li:hover {
    background: #212121;
}
.portfolio .portfolio-flters li:last-child {
    margin-right: 0;
}
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 85%);
}
.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
    border-radius: 10px;
}
.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
    border-radius: 10px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #f70b2b;
}
.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}
.portfolio-title {
    color: #f70b2b;
}
.portfolio-title span {
    color: #fff;
}
.portfolio-info h3 {
    color: #f70b2b;
}
.portfolio-info strong {
    color: #fff;
}
.portfolio-info li {
    color: #888;
}
.portfolio-details {
    padding-top: 40px;
    background: #212121;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    border-radius: 10px;
}
.portfolio-details .container {
    padding-top: 20px;
    padding-bottom: 40px;
}
.portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}
.portfolio-details .portfolio-info {
    padding-top: 45px;
}
.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}
.portfolio-details .portfolio-info p {
    font-size: 15px;
    padding: 15px 0 0 0;
    color: #888;
}
@media (max-width: 992px) {
    .portfolio-details .portfolio-info {
        padding-top: 20px;
    }
}
.portfolio-details .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
}
.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f70b2b;
}
.blog-content .blog-header {
    display: flex;
    justify-content: center;
}
.blog-header {
    margin-bottom: 15px;
}
.blog-content .blog-header span {
    color: #888;
    margin-right: 10px;
}
.blog-content .blog-header span i {
    color: #f70b2b;
    margin-right: 8px;
    font-size: 14px;
}
.blog-content img {
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.blog-content .date {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #888;
    display: block;
}
.blog-content .blog-body .title {
    color: #f70b2b;
    text-transform: capitalize;
    margin-top: 10px;
    letter-spacing: 1px;
}
.blog-content .blog-body .title span {
    color: #fff;
}
.blog-content .blog-body h4 {
    color: #f70b2b;
}
.blog-content .blog-body h4 span {
    color: #fff;
}
.blog-content .blog-body p {
    color: #888;
}
.contact-section .content-title {
    margin-top: 30px;
    margin-bottom: 22px;
    color: #f70b2b;
}
.blog-content .contact-section .social-icons::before {
    display: none;
}
.form-submit {
    display: flex;
    justify-content: center;
}
.content-description p {
    margin: 0;
    color: #888;
}
.contact-section .contact-form .form-group {
    margin-bottom: 25px;
}
.contact-section .contact-form .form-group .form-control,
.contact-section .contact-form .form-group .form-control::placeholder {
    color: #777;
}
.contact-section .contact-form .form-group .form-control {
    background-color: #212121;
    border: none;
    border-bottom: 1px solid #1d1d1d;
    border-radius: 0;
    font-size: 15px;
    padding: 9px 14px;
    box-shadow: 0 0 10px rgb(0 0 0 / 85%);
    border-radius: 5px;
}
.single-post {
    position: relative;
    background-color: #232323;
    box-shadow: 0 0 10px rgb(0 0 0 / 85%);
    border: none;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 10px;
}
.single-post:hover .post-content .content-title h5 > a {
    color: #f70b2b;
}
.single-post .post-content {
    padding: 10px;
}
.single-post .post-content .content-date {
    color: #f70b2b;
    margin-top: 8px;
}
.post-content .content-title {
    margin-bottom: 10px;
    margin-top: 10px;
}
.post-content .content-title h5 > a {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}
.blog-details {
    height: 100vh;
    padding-top: 40px;
    background-color: #212121;
    overflow: hidden;
    border-radius: 10px;
    overflow-y: scroll;
}
.fixed-block .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}
.fixed-block .social-icons a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: #888;
    text-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.fixed-block .social-icons a:hover {
    color: #f70b2b;
    transform: rotate(20deg);
}
.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item img {
    width: 100%;
    height: 100%;
}
.ih-item.square {
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 85%);
    border-radius: 10px;
}
.ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.square.effect {
    overflow: hidden;
}
.ih-item.square.effect .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.contact .info-box {
    color: #212121;
    padding: 20px;
    width: 100%;
    background: #212121;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.contact .info-box i.fas {
    font-size: 24px;
    color: #f70b2b;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
}
.contact .info-box h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 8px 68px;
}
.contact .info-box p {
    padding: 0;
    color: #888;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}
.contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
}
.contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #888;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
}
.contact .info-box .social-links a:hover {
    color: #f70b2b;
}
.contact .email-form {
    padding: 30px 20px;
    background: #212121;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
}
.contact .email-form .error-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .email-form .error-message br + br {
    margin-top: 25px;
}
.contact .email-form .sent-message {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    background: #f70b2b;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .email-form .loading {
    display: none;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
    padding: 15px;
}
.contact .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #f70b2b;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
.contact .email-form input,
.contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #212121;
    border: 0;
    transition: 0.3s;
    color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 80%);
    border-radius: 5px;
}
.contact .email-form input:focus,
.contact .email-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.11);
}
.contact .email-form input::-moz-placeholder,
.contact .email-form textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}
.contact .email-form input::placeholder,
.contact .email-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
}
.contact .email-form input {
    padding: 10px 15px;
}
.contact .email-form textarea {
    padding: 12px 15px;
}
.contact .email-form button[type="submit"] {
    background: #f70b2b;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 1430px) {
    .main-img-mobile {
        max-width: 425px;
    }
}
@media (max-width: 1366px) {
    .main-img-mobile {
        max-width: 400px;
    }
}
@media (max-width: 1200px) {
    .single-post {
        margin-bottom: 60px;
    }
}
@media (max-width: 1024px) {
    .services .icon-box {
        padding: 60px 20px;
    }
    .portfolio-details .portfolio-info {
        padding-top: 10px;
    }
}
@media (max-width: 992px) {
    .main-img-mobile {
        max-width: 370px;
    }
    .single-post {
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .main-img-mobile {
        max-width: 390px;
    }
    header .logo svg {
        height: 55px;
        width: 120px;
    }
    .navbar-mobile .mobile-nav-toggle {
        display: block;
        right: 15px;
        top: 45px;
    }
    .navbar-mobile ul {
        top: 80px;
    }
    section.section-show {
        height: calc(100vh - 95px);
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .about-me .content ul {
        margin-bottom: 0;
    }
}
@media (max-width: 576px) {
    .home-details p {
        width: 85%;
    }
    .about-me .content ul li {
        margin-bottom: 10px;
    }
    .main-img-mobile {
        max-width: 360px;
    }
}
@media (max-width: 481px) {
    .home-details p {
        width: 90%;
        font-size: 16px;
    }
    .navbar-mobile .mobile-nav-toggle {
        display: block;
        right: 15px;
        top: 45px;
    }
    .navbar-mobile ul {
        left: 3px;
        right: 3px;
    }
    .main-img-mobile {
        max-width: 390px;
    }
}
@media (max-width: 351px) {
    .home-details h1 span {
        font-size: 25px;
        height: 43px;
        margin-top: 5px;
    }
    .about-me .content ul {
        margin-bottom: 0;
    }
    .services .icon-box {
        padding: 40px 20px;
    }
}
@media (max-width: 320px) {
    .home-details h1 {
        font-size: 34px;
        line-height: 44px;
    }
    .single-post {
        margin-bottom: 45px;
        padding: 15px;
    }
    .about-me .content h3 {
        font-size: 20px;
    }
    .fst-italic {
        font-size: 16px;
    }
    .skills .progress {
        height: 50px;
    }
}
